body {
	min-height:			100vh;
	margin:				0;
	padding:			1rem;
	color:				#FFFFFF;
	/*background-color:	#ED839A;*/
	background: -webkit-linear-gradient(180deg, rgba(228,71,113,1) 0%, rgba(237,131,154,1) 100%);
	background: linear-gradient(180deg, rgba(228,71,113,1) 0%, rgba(237,131,154,1) 100%);
	/*background: -webkit-linear-gradient(180deg, #152966 0%, #522550 100%);
	background: linear-gradient(180deg, #152966 0%, #522550 100%);*/
}

.svg-wrapper {
	position: 			relative;
}

svg {
	display:			block;
	max-height:			90vh;
	margin:				auto;
}

.snowbox {
	position:			fixed;
	top:				0;
	left:				0;
	width:				100vw;
	height:				100vh;
}

.snow {
	position:			absolute;
	width:				0.625rem;
	height:				0.625rem;
	background-color:	#ECF0F1;
}

.bg {
	position:			fixed;
	top:				0;
	left:				0;
	width:				100vw;
	height:				100vh;
}

* {
	box-sizing:			border-box;
}